*{
	margin: 0;
	padding:0;
    font-family: san serif ms,arial;
    color:#fff;
  text-decoration: none;

}
body{
	  background-color:#ECF0F1;
}
.anchor{
	margin: 0;
	padding: 0px;
	height: 30px;
    background-color:#f1f1f1;
	color:red;
}
.anchor a{
	top:9px;
	left: 680px;
	padding-right: 20px;
	position: relative;
}
.anchor a i{
	height: 100px;
	width: 50px;
    color:#333;
}
.anchor a i:hover{
	color: red;
}
header{
	height:70px;
	width: 100%;
	position: absolute;	
	background-color: #f1f1f1;
	font-size: 15px;
}	
#logo{
	height:65px;
	width:150px;
	top:-30px;
	margin: 0;
	position: relative;
	left:80px;
	animation:flutter 0.05s linear infinite;
}
#box{
	margin: -10px 115px;
	height:25px;
	width: 100px;
	font-size: 15px;
	text-align: center;
	line-height: 25px;
	background-color:#154360;
	color: white;
	position: static;
}
#type{
	margin: -29px 225px;
	height: 30px;
    width: 700px;
    font-size: 18px;
    font-family: verdana;
    line-height: 30px;
    background-color:#f1f1f1;
    color:black;
    position: static;
}
div.container{
	top: 103.5px;
	margin: 0;
	padding: 0;
	height: 900px;
	width: 94%;
	position: absolute;
	left:10px;
}
 #img1{
	top: 124px;
	position: absolute;
	left:120px;
	height: 440px;
	width:85%;
	position: absolute;
	z-index: -50;
}

div #nav1{
	margin: 0;
	padding: 0;
	top: -60px;
	position: absolute;
	background-color:#154360;
	height: 45px;
	width: 108.3%;
	left:-35px;
	color:#278ee3;
	z-index: 0;

}
div #nav1 ul{
	list-style: none;
	position:relative;
	color:#278ee3; 
}
div #nav1 ul li{
	top:0px;
	margin: 0;	
	padding:-25px;
	height: 45px;
	width: 145px;
	line-height:50px;
	font-family: verdana;
	text-align:center;
	display: inline-block;
	float:right;
	cursor: pointer;
	position:relative;
	font-size: 15px;
	color:#278ee3;
}
#nav1 ul li:hover {
	background-color:#006666;
	color:white;
	transition: 1s;

}
div #nav1 ul ul{
	display: none;
}
div #nav1 ul ul li{
	top:-6px;
	margin: 0;
	position: relative;
	/*background-color:#124170;*/
	background-color:#006666;
	color:white;
	
}
#nav1 ul ul li:hover{
	background-color:#008080;
   color:white;
   transition: 1s;
}
div #nav1 ul li:hover> ul{
	display: block;
	background-color:#006666;
	color:white;
	transition: 1s;	

}
#nav1 ul ul ul li{
	left: 190px;
	top: -50px;
	position:relative;
	background-color:#006666;
	color:white;	
	width:190px;
}
#nav1 ul ul ul #m{
    top:-100px;
    position: relative;
}

div.main{
	top: 480px;
	left: 5px;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 1200px;
	background-color:#ECF0F1;
	position: absolute;

}
.navbar{
	background-color:#ECF0F1;
	height: 50px;
	width: 100%;
	background-color:;
	margin-left: 40px;
	border-radius: 10px/10px;
}
.anchor1{
	margin: 0;
	top: -10px;
	left:127px;
	width:41%;
	height: 50px;
	background-color:#142170;
	position: absolute;
	box-shadow: #333 7px 7px 5px;
	transform: scale(.97);
}
.anchor1 a{
	color:white;
	text-decoration: none;
	line-height: 50px;
	left:200px;
	position: absolute;
}
.anchor1 a:hover{
	color:red;
}
.anchor2{
	margin: 0;
	top: -10px;
	width:41%;
	height: 50px;
	background-color:#142170;
	position: absolute;
	left:683px;
	box-shadow: #333 7px 7px 5px;
	transform: scale(.98);
}
.anchor2 a{
	color:white;
	text-decoration: none;
	line-height: 50px;
	left:150px;
	position: absolute;
}
.anchor2 a:hover{
	color:red;
}
#navbar2{
	height: 250px;
	width: 85.5%;
    left:125px;
    position: relative;
   
}
#navbar2 img{
	width:100%;
	height:250px;
	left:0px;
}
.box1{
    top: 20px;  
	margin: 0px;
	height:854px;
	position:relative;
	width: 80%;
   left:90px;
   border:0.05px solid #ECF0F1;
   transform: scale(.98);
}
#post1{
	top: 0px;
      height: 100%;
      width: 37%;
      left:25px;
      background-color: #ECF0F1;
      position: relative;
      background-image: url(crp/rec1.png);
      background-size: 100% 100%;
      transform: scale(.98);
      z-index: -2;
}
#post2{
	  top:-859px;
      height: 100%;
      width: 37%;
      left:394px;
      background-color: black;
      position: relative;
      background-image: url(crp/rec2.png);
      background-size: 100% 100%;
      transform: scale(.98);
      z-index: -50;
}
#post3{
	  top:-1709px;
      height: 100%;
      width: 37%;
      left:770px;
      background-color:#ECF0F1;
      position: relative;
      background-image: url(crp/rec3.png);
      background-size: 100% 100%;
      transform: scale(.98);
}
#Nav{ top:50px;
	padding: 0px;
	width: 100%;
	margin: 0;
	height: 40px;
	background-color: #0009;
	position: absolute;
}
#Nav a{
	line-height: 40px;
	display: inline-block;
	font-family: verdana;
	color:black;
}
#Nav a:hover{
	background-color:green;
}

.box4{
	margin: 0px;
	top:0px;
	left:14px;
	height: 530px;
	width: 100%;
	position: relative;
	border:10px solid #ECF0F1;
	transform: scale(0.84);
}
#calen1{
	left:10px;
	height: 100%;
	width:50%;
	position: relative;
	background-image: url(crp/calen.png);
	background-size: 100% 100%;
	animation: calen 30s linear infinite;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
@keyframes calen{
	0%{
        background:url(crp/lobster.jpg);
        background-size: 100% 100%;
	}
	30%{
        background:url(crp/heaven.jpg);
        background-size: 100% 100%;
	}
}
#calen2{
	top:-530px;
	height: 100%;
	width:49%;
	left:680px;
	background-image: url(crp/calen.png);
	background-size: 100% 100%;
	position:relative;
	animation: calend 30s linear infinite;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
@keyframes calend{
	0%{
        background:url(crp/des.jpg);
        background-size: 100% 100%;
	}
	30%{
        background:url(crp/night.jpg);
        background-size: 100% 100%;
	}
}
#bar{
	top: -500px;
	left: 5px;
	height: 100px;
	width: 102.5%;
	background-color: #ECF0F1;
	position: relative;
	transform: scale(.98);
}
#box5{
	 margin: 0px;
	 padding: 0;
	top:140%;
	background-color:black;
	left:120px;
	height:54%;
	width: 45%;
	position:absolute;
	background-image: url(crp/water.jpg);
    background-size: 100% 100%;
    animation:boxs 20s linear infinite;
    transform: scale(.92);
}
@keyframes boxs{
	0%{
        background:url(crp/x.jpg);
        background-size: 100% 100%;
	}
	25%{
        background:url(crp/q.jpg);
        background-size: 100% 100%;
	}
	50%{
        background:url(crp/u.jpg);
        background-size: 100% 100%;
	}
	75%{
        background:url(crp/sunset.jpg);
        background-size: 100% 100%;
	}
	-25%{
        background:url(crp/w.png);
        background-size: 100% 100%;
	}

}

#boxv{
	 margin: 0px;
	 padding:0;
	top:140%;
	left:667px;
	height:54%;
	width: 44%;
	position:absolute;
    align-items: center;
    background-image: url(crp/w.jpg);
    background-size: 100% 100%;
    animation:box 19s linear infinite;
    transform: scale(.92);
}
@keyframes box{
	0%{
        background:url(crp/y.jpg);
        background-size: 100% 100%;
	}
	25%{
        background:url(crp/night.jpg);
        background-size: 100% 100%;
	}
	50%{
        background:url(crp/z.png);
        background-size: 100% 100%;
	}
	75%{
        background:url(crp/r.jpg);
        background-size: 100% 100%;
	}
	100%{
        background:url(crp/q.jpg);
        background-size: 100% 100%;
	}
}

  
#box7{
 margin: 0px;
	 padding: 0;
	top:100%;
	background-color:white;
	left:680px;
	height:120%;
	width: 51%;
	position:absolute;
	
	}
	#box7 h1{
		color:black;
		top:-130%;
		position: ;
	}
	#box7 img{
	margin: 0;
	top: ;
      height: 40%;	
      width: 100%;
      left:1px;
      position: absolute;

}
	#box7 span{
		margin: 0;
	top: 390px;
     height: 110%;	
      width: 100%;
      left:0px;
      position: absolute;
	}
#navbar3{
	margin: 0;
	margin-left: 90px;
	left: 49px;
	height: 40px;
	width:41%;
	background-color:#142170;
	top:194%;
	position: absolute;
	box-shadow: #333 7px 7px 5px;
	transform: scale(.98);
}
#navbar3 nav a{
	color:white;
	left:200px;
	position: absolute;
	line-height: 40px;

}
#navbar3 nav a:hover{
	color:red;
	line-height: 40px;

}
#navbar4{
	margin: 0;
	height: 40px;
	width:98%;
	background-color: #142170;
	top:404%;
	position: absolute;
   left:555px;
   top:0px;
   box-shadow: #333 7px 7px 5px;

}
#navbar4 nav a{
	color:white;
	position: absolute;
	line-height: 40px;
	left:230px;
	
}
#navbar4 nav a:hover{
	color:red;

}
.h1{
	top:70px;
	left:10px;
	position: relative;
	text-decoration: underline;
	color: black;
}
.update{
	top: 80px;
	height:494px;
	left: -10px;
	width: 220%;
	background-color: black;
	position: relative;
	transform: scale(.99);
	z-index: -5;
}
 #video{
 	top:0px;
	width: 1118px;
	height: 495px;
	position: relative;
	text-decoration: none;
	border-color: #ECF0F1 ;
	flex-wrap: wrap;
}
.footer{
	top: 150px;
	height:250px;
	width:260%;
	background-color:#124170;
    position: relative;
    right:147px;
}           
#foot1{
	height:100%;
	width: 19%;
	left:150px;	
	position: absolute;
}
#foot1 h1{
	top:18px;
	left:50px;
	color:white;
	font-size: 30px;
	position: absolute;
}
#foot1 p{
	top:73px;
	left:0px;
	color:white;
	font-size: 15px;
	font-weight: lighter;
	text-align: justify-all;
	position: absolute;
}
#foot2{
	height:100%;
	width:22%;
	background-color: ;
	position: absolute;
	left:380px;
	top:20px;
}
#foot2 h1{
	top:0px;
	left:100px;
	color:white;
	font-size: 30px;
	font-weight: lighter;
	position: absolute;
}
#foot2 #link {
	top:50px;
	left:100px;
	width: 30%;
	font-size: 15px;
	position: absolute;
}
#link a{
	color:white;
}
#link a:hover{
	color: red;
}
#foot2 p{
	top:150px;
    left:100px;
    font-size: 15px;
    color:white;
    position: absolute;
	}
#foot3{
	height:100%;
	width: 22%;
	background-color:;
	position: absolute;
	left: 730px;
	top:20px;
}
#foot3 h1{
	top:0px;
	left:50px;
	color:white;
	font-size: 30px;
	font-weight: lighter;
	position: absolute;
}

#foot3 #link1 {
	top:47px;
	left:60px;
	width: 30%;
	font-size: 15px;
	position: absolute;
}
#link1 a:hover{
	color: red;
}
#foot4{
	padding-top: 5px;
	height:100%;
	width: 363px;
	background-color:;
	position: absolute;
	left: 988px;
	top:20px;
}
.second {
	top:252px;
	left: -15px;
	height:45px;
	width: 102.1%;
	background-color:#124170;
	color:white;
	position:relative;
	transform:scale(.98);
}
.second p{
	position: relative;
	top:0px;
	left:60px;
	color:white;
	font-size: 20px;
	line-height: 45px;
	text-decoration: none;
}

    