body{
	margin: 0;
	padding: 0;
	background-image:url(crp/water.jpg);
	background-size: 100% 100%;
	height: 652px;
	width: 100%;
	background-repeat: no-repeat;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
form h1{
	top:0px;
	left: 100px;
	text-align: center;
	font-family: arial;
	position: absolute;
	color:white;
}
.container{
	left: 0;
	transform: translate(500px,90px);
	height:500px;
	width: 400px;
	padding: 90px;
	background-color: rgba(0,0,0,0.8);
	box-sizing: border-box;
	margin: 5px;
	border-radius: 50px/50px;
}
article{
	left: -15px;
	top: -10px;
	height: 20px;
	width: 350px;
	color: red;	
	position: relative;
	font-family: verdana;
	font-size: 15px;
}
input{
	top:0px;
	left: -15px;
	width: 250px;
	font-size: 15px;
	box-sizing: border-box;
	outline: none;
	padding: 12px 5px;
	position: relative;
	background-color: rgba(0,0,0,0.60);
	border-bottom: 1px dotted #fff;
	margin: 1px;
	font-weight: bold;
    border-radius: 5px;
    border: none;
    color:white;
}
#btn{
	color:#fff;
} 
#btn:hover{
	color:red;
}
button{
	top: 10px;
	right:13px;
	height: 39px;
	width: 252px;
	background-color: rgba(0,0,0,0.60);
	border:none;
	border-radius: 8px;
	text-decoration: none;
	position: relative;
	color: white;
	font-family: arial;
	font-size: 13px;
	font-weight: bold;
}
button:hover{
	color:red;
}

